In [0]:
json_sample="""
{
	"persons":
	
	[
  {
    "id": 0,
    "name": "Nora",
    "city": "New Orleans",
    "age": 55,
    "friends": [
      {
        "name": "Emma",
        "hobbies": [ "Calligraphy", "Television", "Music" ]
      },
      {
        "name": "Lucas",
        "hobbies": [ "Yoga", "Playing Cards" ]
      }
    ]
  },
  {
    "id": 1,
    "name": "Mia",
    "city": "New York City",
    "age": 26,
    "friends": [
      {
        "name": "Elijah",
        "hobbies": [ "Golf", "Calligraphy" ]
      },
      {
        "name": "Grace",
        "hobbies": [ "Walking", "Golf", "Shopping" ]
      }
    ]
  },
  {
    "id": 2,
    "name": "Luke",
    "city": "Charleston",
    "age": 98,
    "friends": [
      {
        "name": "Elijah",
        "hobbies": [ "Martial Arts", "Calligraphy", "Collecting" ]
      },
      {
        "name": "Michael",
        "hobbies": [ "Watching Sports", "Music", "Podcasts" ]
      },
      {
        "name": "Camila",
        "hobbies": [ "Writing", "Martial Arts", "Music" ]
      }
    ]
  },
  {
    "id": 3,
    "name": "Daniel",
    "city": "Saint Augustine",
    "age": 21,
    "friends": [
      {
        "name": "Oliver",
        "hobbies": [ "Movie Watching", "Playing Cards" ]
      },
      {
        "name": "Liam",
        "hobbies": [ "Watching Sports", "Tennis", "Walking" ]
      },
      {
        "name": "Victoria",
        "hobbies": [ "Genealogy", "Socializing", "Traveling" ]
      },
      {
        "name": "Kevin",
        "hobbies": [ "Walking", "Tennis", "Golf" ]
      },
      {
        "name": "Michelle",
        "hobbies": [ "Socializing", "Fishing", "Watching Sports" ]
      }
    ]
  },
  {
    "id": 4,
    "name": "Jack",
    "city": "Las Vegas",
    "age": 51,
    "friends": [
      {
        "name": "Luke",
        "hobbies": [ "Podcasts", "Tennis", "Watching Sports" ]
      },
      {
        "name": "Chris",
        "hobbies": [ "Skiing & Snowboarding", "Housework" ]
      }
    ]
  },
  {
    "id": 5,
    "name": "Victoria",
    "city": "Palm Springs",
    "age": 21,
    "friends": [
      {
        "name": "Michael",
        "hobbies": [ "Gardening", "Running", "Walking" ]
      },
      {
        "name": "Nora",
        "hobbies": [ "Fishing", "Housework", "Shopping" ]
      },
      {
        "name": "Elijah",
        "hobbies": [ "Podcasts", "Walking" ]
      },
      {
        "name": "Luke",
        "hobbies": [ "Traveling", "Socializing" ]
      },
      {
        "name": "Emma",
        "hobbies": [ "Podcasts", "Tennis", "Board Games" ]
      },
      {
        "name": "Oliver",
        "hobbies": [ "Reading", "Painting", "Shopping" ]
      }
    ]
  },
  {
    "id": 6,
    "name": "Chloe",
    "city": "Los Angeles",
    "age": 19,
    "friends": [
      {
        "name": "Leo",
        "hobbies": [ "Fishing", "Cooking", "Dancing" ]
      },
      {
        "name": "Nora",
        "hobbies": [ "Housework", "Video Games", "Music" ]
      },
      {
        "name": "Sarah",
        "hobbies": [ "Board Games", "Woodworking", "Traveling" ]
      }
    ]
  },
  {
    "id": 7,
    "name": "Isabella",
    "city": "Portland",
    "age": 30,
    "friends": [
      {
        "name": "Chloe",
        "hobbies": [ "Television", "Movie Watching" ]
      },
      {
        "name": "Grace",
        "hobbies": [ "Calligraphy", "Cooking" ]
      },
      {
        "name": "Chris",
        "hobbies": [ "Reading", "Volunteer Work", "Watching Sports" ]
      },
      {
        "name": "Luke",
        "hobbies": [ "Board Games", "Walking" ]
      }
    ]
  },
  {
    "id": 8,
    "name": "Olivia",
    "city": "Miami Beach",
    "age": 49,
    "friends": [
      {
        "name": "Zoey",
        "hobbies": [ "Martial Arts", "Watching Sports", "Cooking" ]
      },
      {
        "name": "Grace",
        "hobbies": [ "Golf", "Genealogy", "Bicycling" ]
      },
      {
        "name": "Emily",
        "hobbies": [ "Genealogy", "Collecting" ]
      },
      {
        "name": "Sarah",
        "hobbies": [ "Shopping", "Socializing", "Martial Arts" ]
      },
      {
        "name": "Emma",
        "hobbies": [ "Yoga", "Church Activities", "Golf" ]
      }
    ]
  },
  {
    "id": 9,
    "name": "Kevin",
    "city": "Miami Beach",
    "age": 39,
    "friends": [
      {
        "name": "Mia",
        "hobbies": [ "Jewelry Making", "Eating Out", "Traveling" ]
      },
      {
        "name": "Nora",
        "hobbies": [ "Painting", "Jewelry Making" ]
      },
      {
        "name": "Michael",
        "hobbies": [ "Podcasts", "Writing", "Socializing" ]
      }
    ]
  }
]
}
"""

In [0]:
dbutils.fs.put("/tmp/jsonfile.json",json_sample, True )

Wrote 4586 bytes.
Out[36]: True

In [0]:
df = spark.read.option("multiline","true").json("/tmp/jsonfile.json")

In [0]:
display(df)

persons
"List(List(55, New Orleans, List(List(List(Calligraphy, Television, Music), Emma), List(List(Yoga, Playing Cards), Lucas)), 0, Nora), List(26, New York City, List(List(List(Golf, Calligraphy), Elijah), List(List(Walking, Golf, Shopping), Grace)), 1, Mia), List(98, Charleston, List(List(List(Martial Arts, Calligraphy, Collecting), Elijah), List(List(Watching Sports, Music, Podcasts), Michael), List(List(Writing, Martial Arts, Music), Camila)), 2, Luke), List(21, Saint Augustine, List(List(List(Movie Watching, Playing Cards), Oliver), List(List(Watching Sports, Tennis, Walking), Liam), List(List(Genealogy, Socializing, Traveling), Victoria), List(List(Walking, Tennis, Golf), Kevin), List(List(Socializing, Fishing, Watching Sports), Michelle)), 3, Daniel), List(51, Las Vegas, List(List(List(Podcasts, Tennis, Watching Sports), Luke), List(List(Skiing & Snowboarding, Housework), Chris)), 4, Jack), List(21, Palm Springs, List(List(List(Gardening, Running, Walking), Michael), List(List(Fishing, Housework, Shopping), Nora), List(List(Podcasts, Walking), Elijah), List(List(Traveling, Socializing), Luke), List(List(Podcasts, Tennis, Board Games), Emma), List(List(Reading, Painting, Shopping), Oliver)), 5, Victoria), List(19, Los Angeles, List(List(List(Fishing, Cooking, Dancing), Leo), List(List(Housework, Video Games, Music), Nora), List(List(Board Games, Woodworking, Traveling), Sarah)), 6, Chloe), List(30, Portland, List(List(List(Television, Movie Watching), Chloe), List(List(Calligraphy, Cooking), Grace), List(List(Reading, Volunteer Work, Watching Sports), Chris), List(List(Board Games, Walking), Luke)), 7, Isabella), List(49, Miami Beach, List(List(List(Martial Arts, Watching Sports, Cooking), Zoey), List(List(Golf, Genealogy, Bicycling), Grace), List(List(Genealogy, Collecting), Emily), List(List(Shopping, Socializing, Martial Arts), Sarah), List(List(Yoga, Church Activities, Golf), Emma)), 8, Olivia), List(39, Miami Beach, List(List(List(Jewelry Making, Eating Out, Traveling), Mia), List(List(Painting, Jewelry Making), Nora), List(List(Podcasts, Writing, Socializing), Michael)), 9, Kevin))"

In [0]:
%sql
Create Temporary View personsView
using Json
OPTIONS(path = "/tmp/jsonfile.json", multiline=true)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3442036342654387>:7
      5     display(df)
      6     return df
----> 7   _sqldf = ____databricks_percent_sql()
      8 finally:
      9   del ____databricks_percent_sql

File <command-3442036342654387>:4, in ____databricks_percent_sql()
      2 def ____databricks_percent_sql():
      3   import base64
----> 4   df = spark.sql(base64.standard_b64decode("Q3JlYXRlIFRlbXBvcmFyeSBWaWV3IHBlcnNvbnNWaWV3CnVzaW5nIEpzb24KT1BUSU9OUyhwYXRoID0gIi90bXAvanNvbmZpbGUuanNvbiIsIG11bHRpbGluZT10cnVlKQ==").decode())
      5   display(df)
      6   return df

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [TEMP_TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create the temporary view `personsView` because it already exists.
Choose a different name, drop or replace the existing view,  or add the IF NOT EXISTS clause to tolerate pre-existing views.

In [0]:
%sql
select * from personsView

persons
"List(List(55, New Orleans, List(List(List(Calligraphy, Television, Music), Emma), List(List(Yoga, Playing Cards), Lucas)), 0, Nora), List(26, New York City, List(List(List(Golf, Calligraphy), Elijah), List(List(Walking, Golf, Shopping), Grace)), 1, Mia), List(98, Charleston, List(List(List(Martial Arts, Calligraphy, Collecting), Elijah), List(List(Watching Sports, Music, Podcasts), Michael), List(List(Writing, Martial Arts, Music), Camila)), 2, Luke), List(21, Saint Augustine, List(List(List(Movie Watching, Playing Cards), Oliver), List(List(Watching Sports, Tennis, Walking), Liam), List(List(Genealogy, Socializing, Traveling), Victoria), List(List(Walking, Tennis, Golf), Kevin), List(List(Socializing, Fishing, Watching Sports), Michelle)), 3, Daniel), List(51, Las Vegas, List(List(List(Podcasts, Tennis, Watching Sports), Luke), List(List(Skiing & Snowboarding, Housework), Chris)), 4, Jack), List(21, Palm Springs, List(List(List(Gardening, Running, Walking), Michael), List(List(Fishing, Housework, Shopping), Nora), List(List(Podcasts, Walking), Elijah), List(List(Traveling, Socializing), Luke), List(List(Podcasts, Tennis, Board Games), Emma), List(List(Reading, Painting, Shopping), Oliver)), 5, Victoria), List(19, Los Angeles, List(List(List(Fishing, Cooking, Dancing), Leo), List(List(Housework, Video Games, Music), Nora), List(List(Board Games, Woodworking, Traveling), Sarah)), 6, Chloe), List(30, Portland, List(List(List(Television, Movie Watching), Chloe), List(List(Calligraphy, Cooking), Grace), List(List(Reading, Volunteer Work, Watching Sports), Chris), List(List(Board Games, Walking), Luke)), 7, Isabella), List(49, Miami Beach, List(List(List(Martial Arts, Watching Sports, Cooking), Zoey), List(List(Golf, Genealogy, Bicycling), Grace), List(List(Genealogy, Collecting), Emily), List(List(Shopping, Socializing, Martial Arts), Sarah), List(List(Yoga, Church Activities, Golf), Emma)), 8, Olivia), List(39, Miami Beach, List(List(List(Jewelry Making, Eating Out, Traveling), Mia), List(List(Painting, Jewelry Making), Nora), List(List(Podcasts, Writing, Socializing), Michael)), 9, Kevin))"

In [0]:
from pyspark.sql.functions import explode
persons = df.select(explode("persons").alias("persons"))

In [0]:
display(persons)

persons
"List(55, New Orleans, List(List(List(Calligraphy, Television, Music), Emma), List(List(Yoga, Playing Cards), Lucas)), 0, Nora)"
"List(26, New York City, List(List(List(Golf, Calligraphy), Elijah), List(List(Walking, Golf, Shopping), Grace)), 1, Mia)"
"List(98, Charleston, List(List(List(Martial Arts, Calligraphy, Collecting), Elijah), List(List(Watching Sports, Music, Podcasts), Michael), List(List(Writing, Martial Arts, Music), Camila)), 2, Luke)"
"List(21, Saint Augustine, List(List(List(Movie Watching, Playing Cards), Oliver), List(List(Watching Sports, Tennis, Walking), Liam), List(List(Genealogy, Socializing, Traveling), Victoria), List(List(Walking, Tennis, Golf), Kevin), List(List(Socializing, Fishing, Watching Sports), Michelle)), 3, Daniel)"
"List(51, Las Vegas, List(List(List(Podcasts, Tennis, Watching Sports), Luke), List(List(Skiing & Snowboarding, Housework), Chris)), 4, Jack)"
"List(21, Palm Springs, List(List(List(Gardening, Running, Walking), Michael), List(List(Fishing, Housework, Shopping), Nora), List(List(Podcasts, Walking), Elijah), List(List(Traveling, Socializing), Luke), List(List(Podcasts, Tennis, Board Games), Emma), List(List(Reading, Painting, Shopping), Oliver)), 5, Victoria)"
"List(19, Los Angeles, List(List(List(Fishing, Cooking, Dancing), Leo), List(List(Housework, Video Games, Music), Nora), List(List(Board Games, Woodworking, Traveling), Sarah)), 6, Chloe)"
"List(30, Portland, List(List(List(Television, Movie Watching), Chloe), List(List(Calligraphy, Cooking), Grace), List(List(Reading, Volunteer Work, Watching Sports), Chris), List(List(Board Games, Walking), Luke)), 7, Isabella)"
"List(49, Miami Beach, List(List(List(Martial Arts, Watching Sports, Cooking), Zoey), List(List(Golf, Genealogy, Bicycling), Grace), List(List(Genealogy, Collecting), Emily), List(List(Shopping, Socializing, Martial Arts), Sarah), List(List(Yoga, Church Activities, Golf), Emma)), 8, Olivia)"
"List(39, Miami Beach, List(List(List(Jewelry Making, Eating Out, Traveling), Mia), List(List(Painting, Jewelry Making), Nora), List(List(Podcasts, Writing, Socializing), Michael)), 9, Kevin)"

In [0]:
from pyspark.sql.functions import col
details = persons.select(
    col("persons.name").alias("name"),
    col("persons.age").alias("age"),
    col("persons.city").alias("city"),
    explode("persons.friends").alias("friends"),
    col("friends.name").alias("Friends_name"),
    col("friends.hobbies").alias("hobbies")
).show(truncate=False)

+--------+---+---------------+---------------------------------------------------+------------+---------------------------------------+
|name    |age|city           |friends                                            |Friends_name|hobbies                                |
+--------+---+---------------+---------------------------------------------------+------------+---------------------------------------+
|Nora    |55 |New Orleans    |{[Calligraphy, Television, Music], Emma}           |Emma        |[Calligraphy, Television, Music]       |
|Nora    |55 |New Orleans    |{[Yoga, Playing Cards], Lucas}                     |Lucas       |[Yoga, Playing Cards]                  |
|Mia     |26 |New York City  |{[Golf, Calligraphy], Elijah}                      |Elijah      |[Golf, Calligraphy]                    |
|Mia     |26 |New York City  |{[Walking, Golf, Shopping], Grace}                 |Grace       |[Walking, Golf, Shopping]              |
|Luke    |98 |Charleston     |{[Martial Arts, Calligraphy, Collecting], Elijah}  |Elijah      |[Martial Arts, Calligraphy, Collecting]|
|Luke    |98 |Charleston     |{[Watching Sports, Music, Podcasts], Michael}      |Michael     |[Watching Sports, Music, Podcasts]     |
|Luke    |98 |Charleston     |{[Writing, Martial Arts, Music], Camila}           |Camila      |[Writing, Martial Arts, Music]         |
|Daniel  |21 |Saint Augustine|{[Movie Watching, Playing Cards], Oliver}          |Oliver      |[Movie Watching, Playing Cards]        |
|Daniel  |21 |Saint Augustine|{[Watching Sports, Tennis, Walking], Liam}         |Liam        |[Watching Sports, Tennis, Walking]     |
|Daniel  |21 |Saint Augustine|{[Genealogy, Socializing, Traveling], Victoria}    |Victoria    |[Genealogy, Socializing, Traveling]    |
|Daniel  |21 |Saint Augustine|{[Walking, Tennis, Golf], Kevin}                   |Kevin       |[Walking, Tennis, Golf]                |
|Daniel  |21 |Saint Augustine|{[Socializing, Fishing, Watching Sports], Michelle}|Michelle    |[Socializing, Fishing, Watching Sports]|
|Jack    |51 |Las Vegas      |{[Podcasts, Tennis, Watching Sports], Luke}        |Luke        |[Podcasts, Tennis, Watching Sports]    |
|Jack    |51 |Las Vegas      |{[Skiing & Snowboarding, Housework], Chris}        |Chris       |[Skiing & Snowboarding, Housework]     |
|Victoria|21 |Palm Springs   |{[Gardening, Running, Walking], Michael}           |Michael     |[Gardening, Running, Walking]          |
|Victoria|21 |Palm Springs   |{[Fishing, Housework, Shopping], Nora}             |Nora        |[Fishing, Housework, Shopping]         |
|Victoria|21 |Palm Springs   |{[Podcasts, Walking], Elijah}                      |Elijah      |[Podcasts, Walking]                    |
|Victoria|21 |Palm Springs   |{[Traveling, Socializing], Luke}                   |Luke        |[Traveling, Socializing]               |
|Victoria|21 |Palm Springs   |{[Podcasts, Tennis, Board Games], Emma}            |Emma        |[Podcasts, Tennis, Board Games]        |
|Victoria|21 |Palm Springs   |{[Reading, Painting, Shopping], Oliver}            |Oliver      |[Reading, Painting, Shopping]          |
+--------+---+---------------+---------------------------------------------------+------------+---------------------------------------+
only showing top 20 rows